@import '../../utils/variables.scss';

.user__container {
	display: flex;
	flex-direction: column;
	border: $border;
	min-height: 280px;
	flex: 1 0 18%;
	margin: 24px;
	padding: 16px;
	p {
		font-size: 14px;
	}
}

.user__name {
	margin: 0;
	font-weight: bold;
}

.user__details {
	color: $details;
	text-decoration: underline;
}

.user__company,
.user__details {
	margin-top: 1rem;
	p {
		margin: 0;
		font-weight: 500;
	}
}

.user__button {
	width: 200px;
	height: 70px;
	background-color: transparent;
	border: $border;
	box-shadow: 2px 2px 2px #000;
	margin-top: 32px;
	align-self: center;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}
