@import '../../utils/variables.scss';

.comment__container {
	border: $border;
	margin: 8px 0;
	padding: 16px;

	p {
		margin: 0;
	}
}

.comment__details {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
	font-weight: bold;

	&__email {
		color: $details;
	}
}

@media screen and (max-width: 500px) {
	.comment__details {
		flex-direction: column;
		p {
			word-wrap: break-word;
		}
	}
}
