.modal__container--comment,
.modal__container--post {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  width: 450px;
  height: 420px;
  background-color: #fff;
  border: 3px solid #000;
  text-align: center;
}

.modal__container--comment h5,
.modal__container--post h5 {
  margin: 0;
  border-bottom: 3px solid #000;
  padding: 2px;
  text-align: left;
}

.modal__container--comment button,
.modal__container--post button {
  justify-self: flex-end;
}

.modal__container--comment:after,
.modal__container--post:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 25px;
}

.modal__container--comment {
  height: 450px;
}

.modal__title,
.modal__body,
.modal__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__title input,
.modal__title textarea,
.modal__body input,
.modal__body textarea,
.modal__email input,
.modal__email textarea {
  padding: 0;
  width: 300px;
  margin: 0 20px 0 20px;
  border: 3px solid #000;
  resize: none;
}

.modal__title p,
.modal__body p,
.modal__email p {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.modal__body {
  margin-top: 20px;
}

.modal__body textarea {
  height: 150px;
}

.modal__body p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  letter-spacing: 1px;
  padding: 0;
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 30px 45px 0 0;
}

.modal__buttons button {
  cursor: pointer;
  height: 40px;
  width: 100px;
  border: 3px solid #000;
  -webkit-box-shadow: 3px 3px 3px #000;
          box-shadow: 3px 3px 3px #000;
  margin-left: 20px;
  outline: none;
  background-color: #fff;
  font-weight: bold;
}

.modal__buttons button:nth-child(2) {
  background-color: #075394;
  color: #fff;
}

.modal__buttons button:nth-child(2):disabled {
  opacity: 0.5;
}

.modal__email {
  margin-top: 18px;
}

.modal__email p {
  font-size: 11px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100, 100, 100, 0.5);
}

@media screen and (max-width: 500px) {
  .modal__container--post {
    width: 350px;
  }
  .modal__container--comment {
    width: 350px;
    height: 480px;
  }
  .modal__title,
  .modal__body,
  .modal__email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal__title p,
  .modal__body p,
  .modal__email p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .modal__buttons {
    margin: 15px 25px 0 0;
  }
}
