@import '../../utils/variables.scss';

.header__container {
	display: flex;
	justify-content: space-between;
	margin: 48px 80px 80px 80px;
}

.header__name {
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: bold;
	align-self: center;
}

.header__backButton,
.header__addButton,
.header__deleteButton {
	align-self: center;
	width: 25px;
	height: 25px;
	border: none;
	background-color: transparent;
	outline: none;
}

.header__backButton {
	border-top: 2px solid $details;
	border-left: 2px solid $details;
	transform: rotate(-45deg);
	&:after {
		content: '';
		display: block;
		width: 2px;
		height: 45px;
		background-color: $details;
		transform: rotate(-45deg) translate(12px);
		left: 0;
		top: 0;
	}
}

.header__addButton,
.header__deleteButton {
	position: relative;
	&:after,
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		width: 32px;
		height: 2px;
		background-color: $details;
	}
	&:before {
		transform: rotate(90deg);
	}
}

.header__deleteButton {
	&:before {
		display: none;
	}
}

.hidden {
	display: none;
}

@media screen and (max-width: 500px) {
	.header__container {
		flex-direction: column;
		text-align: center;
	}
}
