@import '../../utils/variables.scss';

.post__container {
	display: flex;
	align-items: center;
	border: $border;
	margin: 0 80px 16px 80px;
}

.post__container__trash,
.post__container__arrow {
	margin-left: auto;
	margin-right: 16px;
	color: $details;
}

.post__container__trash {
	margin: 0 16px;
}
