.postDetails__container {
	margin: 0 80px;
	&__buttons {
		margin-top: 80px;
		display: flex;
		justify-content: space-between;
	}
}

.postDetails__title {
	font-weight: bold;
	text-align: center;
	font-size: 20px;
}

.postDetails__body {
	text-align: center;
}
