.postDetails__container {
	margin: 0 80px;
	&__buttons {
		margin-top: 80px;
		display: flex;
		justify-content: space-between;
		&--add,
		&--toggle {
			border: none;
			background-color: transparent;
			outline: none;
			text-decoration: underline;
			font-weight: 500;
			color: #075394;
		}
	}
}

.postDetails__title {
	font-weight: bold;
	font-size: 20px;
}

.postDetails__body,
.postDetails__title {
	text-align: center;
}

.hidden {
	display: none;
}
